.chat_main
  %div
    .chat_main__group_info
      .group_info__contents
        .group_info__contents--name
          = @group.name
        .group_info__contents--members 
          Members:        
          - @group.users.each do |user|
            = user.name
      .group_info__edit
        =link_to edit_group_path(current_user), class: "non_line" do
          Edit
  %div
    .chat_main__message_list
      = render @messages
  %div
    .chat_main__message_form
      = form_for [@group, @message] do |f|
        .message_form__contents
          = f.text_field :content, style: "border: none", class: 'message_form__contents--text', placeholder: 'type a message'
          = f.label :image, class: 'message_form__contents--picture' do
            = icon('fas', 'image', class: 'a')
            = f.file_field :image, class: 'input'
        = f.submit 'Send', style: "border: none", class: 'message_form__send non_line color_white'
        